.page1 {
  background-image: url(../assets/img/background-login.jpg);
  text-align: center;
  .login {
    padding-top: 15px;
    margin: 0 auto;
    margin-top: 50px;
    animation: fadeInUp 1s;
    -webkit-animation: fadeInUp 1s;
    background-color: #fff;
    max-width: 400px;
    width: auto;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(200px);
  }
}
