<ion-split-pane>

  <ion-menu [content]="app" side="right">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>
          <ion-icon name="people"></ion-icon>
          Usuarios
        </ion-title>
        <ion-buttons end>
          <button ion-button clear icon-only>
            <ion-icon name="checkmark"></ion-icon>
          </button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-searchbar [(ngModel)]="query" (ionInput)="filter()"></ion-searchbar>
        <button  [color]="userSelected?.id == u.id ?'primary':''" [disabled]="!u.location" menuClose="right" ion-item *ngFor="let u of users" (click)="centerInUser(u)">

          <ion-avatar item-left>
            <img [src]="u.imagen" *ngIf="u.imagen" alt="">
          </ion-avatar>
          <h2>
          <div text-wrap class="user-state" [ngClass]="api.objects.users_online?.collection[u.id]? 'online' : 'offline'"></div>
            {{u.full_name}} 
            <ion-icon name="logo-android" style="color:#A4C639"></ion-icon>
          </h2>
          <h3 text-wrap>
            Actividad: {{ !api.objects.users_online?.collection[u.id] ? 'Desconectado' :u.activity ? activities[u.activity.activity] : 'Desconocida'}}
          </h3>
          <p text-nowrap [title]="api.addresses[u.location.latitude + '+' + u.location.longitude].display_name" *ngIf="u.location && api.addresses[u.location.latitude + '+' + u.location.longitude]">
            {{ api.addresses[u.location.latitude + '+' + u.location.longitude].display_name }}
          </p>
          <ion-note>
            {{u.location?.timestamp?.date | amFromUtc | amLocal | amLocale:'es' | amTimeAgo}}
          </ion-note>
          <p>{{u.entidad?.name }}</p>
          <!-- <p *ngIf="u.location?.speed != -1">
            <b>Velocidad:</b>
            {{(u.location?.speed * 3.6)| number }} Km/h
          </p> -->
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-content #app main no-padding>

    <ion-header>
      <ion-navbar color="primary">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
          <span ion-text>
            Seguimiento
          </span>
        </ion-title>
      </ion-navbar>
      <ion-fab bottom right edge class="hidden-md-up">
        <button ion-fab color="favorite" mini menuToggle="right">
          <ion-icon name="people"></ion-icon>
        </button>
      </ion-fab>
    </ion-header>

    <ion-content>
      <div id="mapid"></div>

      <ion-fab top left>
        <button ion-fab mini color="light" (click)="mapOptions($event)">
          <ion-icon name="logo-buffer"></ion-icon>
        </button>
      </ion-fab>
      <ion-fab #fab bottom right>
        <button ion-fab color="primary">
          <ion-icon name="add"></ion-icon>
        </button>
        <ion-fab-list side="top">
          <div class="fab-label-button">
            <button ion-fab color="secondary" (click)="locate(); fab.close()">
              <ion-icon name="locate"></ion-icon>
            </button>
            <div class="label">Localizar</div>
          </div>

          <div class="fab-label-button">
            <button ion-fab color="danger" [disabled]="disabled_panic" (click)="sos();fab.close()">
              <ion-icon name="help-buoy"></ion-icon>
            </button>
            <div class="label">S.O.S</div>
          </div>


          <div class="fab-label-button">
            <button ion-fab color="primary" (click)="fitToAll();fab.close()">
              <ion-icon name="md-expand"></ion-icon>
            </button>
            <div class="label">Ajustar</div>
          </div>

        </ion-fab-list>
      </ion-fab>
    </ion-content>
  </ion-content>

</ion-split-pane>
