page-list {
    virtual-scroll {
        display: block;
        width: 100%;
        height: 88vh;
    }
    .item-user {
        display: block;
        width: 100%;
        height: 110px;
    }

    .img-avatar-user-list{
        border-radius: 50%;
        width: 28px;
        height: 28px;
        display: inline;
        float:right;
    }
    *::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px #333;
        background-color: #F5F5F5;
    }

    *::-webkit-scrollbar {
        width: 2px;
        background-color: #F5F5F5;
    }

    *::-webkit-scrollbar-thumb {
         background-color: #333;
    }

}



