<ion-header>
  <ion-navbar color="danger">
    <ion-title>Alerta de Emergencia</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Hay una emergencia</h2>
  <ion-list>

    <div *ngIf="user && user.imagen" text-center>
      <img [src]="user.imagen" [alt]="user.nombre" class="avatar-panic pulse">
    </div>
    <ion-item>
      <span>Usuario</span>
      <h1 item-right>{{user.full_name}}</h1>
    </ion-item>
    <ion-item>
      <b>Localización</b>
      <button ion-button block color="secondary" *ngIf="location" (click)="openInMaps()" icon-left>
        <ion-icon name="map"></ion-icon>
        Abrir en Mapas
      </button>
      <span item-right *ngIf="!location">Buscando Ubicación</span>
    </ion-item>
  </ion-list>
  <p text-right>
    {{ datetime.format('llll') }}
  </p>
  <h1 text-center>
    <b>{{ entidad?.name }}</b>
  </h1>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button full color="danger" (click)="close()" ion-button large class="pulse">OK</button>
  </ion-toolbar>
</ion-footer>