  page-home {
    .track-button {
      height: 120px;
      width: 120px;
      margin: 0 auto;
      border-radius: 50%;
    }
    .avatar{
      font-size: 30px
    }

    ion-content {
      background: url("../assets/map-wallpaper.jpg");
    }     
  }


