<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Newton Tracker
    </ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only clear color="danger" *ngIf="bg.state" (click)="stop()">
        <ion-icon name="square"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <input type="file" name="filer" #filer style="display:none">
  <div padding>
    <button *ngIf="!bg.state" class="track-button" ion-button color="secondary" block large (click)="start()">

      <span>Start</span>
    </button>
    <button *ngIf="bg.state" class="track-button" ion-button color="dark" block large (click)="stop()">

      <span>Stop</span>
    </button>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md>
        <ion-card>
          <ion-fab right style="margin-top:-25px; right: 25px;">
            <button ion-fab mini (click)="locate()">
              <ion-icon name="locate"></ion-icon>
            </button>
          </ion-fab>
          <ion-list>
            <ion-list-header>
              Rastreo
            </ion-list-header>
            <ion-item>
              <ion-icon color="primary" name="locate" item-left></ion-icon>
              <b>GPS</b>
              <ion-icon item-right [name]="bg.provider.gps? 'checkmark' : 'close'" [color]="bg.provider.gps ? 'secondary' : 'danger'"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-icon color="primary" name="speedometer" item-left></ion-icon>
              <b>Red</b>
              <ion-icon item-right [name]="bg.provider.network ? 'checkmark' : 'close'" [color]="bg.provider.network ? 'secondary' : 'danger'"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-icon color="primary" name="ios-analytics" item-left></ion-icon>
              <b>Status</b>
              <ion-icon item-right [name]="bg.state ? 'checkmark' : 'close'" [color]="bg.state ? 'secondary' : 'danger'"></ion-icon>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>

      <ion-col col-12 col-md>
        <ion-card>
          <ion-list>
            <ion-list-header>
              Viajes
              <ion-icon small name="navigate" item-right [color]="bg.trip_data.on_trip? 'secondary':'danger'"></ion-icon>
            </ion-list-header>
            <ion-item>
              <b>Estado:</b>
              <span item-right>
                <ion-icon small [name]="bg.trip_data.on_trip? 'navigate':'square'" [color]="bg.trip_data.on_trip? 'primary':'dark'" item-right></ion-icon>
                {{ bg.trip_data.on_trip? 'En Viaje' : 'Detenido'}}
              </span> 
            </ion-item>
            <ion-item *ngIf="bg.trip_data.timestamp">
              <b>Desde:</b>
              <span item-right>
                {{bg.trip_data.trip_timestamp | amCalendar }}
              </span>
            </ion-item>
            <ion-item>
              <b>Velocidad:</b>
              <span item-right *ngIf="bg.last_location?.coords.speed !== -1">
                  <ion-icon small name="speedometer" item-left></ion-icon>
                  {{ (bg.last_location?.coords.speed * 3.6 ) | number:'1.2-2' }} Kmh 
                </span>
              </ion-item>
              <ion-item>
                <b>Dirección:</b>
                <span item-right *ngIf="bg.last_location?.coords.heading !== -1">
                    <ion-icon small name="navigate" item-left
                     [ngStyle]="{'transform': 'rotate(' + bg.last_location?.coords.heading + 'deg)'}"></ion-icon>
                  {{ (bg.last_location?.coords.heading * 1) | number:'1.0-0' }} º 
              </span>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>
      
      <ion-col col-12 col-md>
        <ion-card>
          <ion-list>
            <ion-list-header>
              Usuario
              <button ion-button small clear icon-only item-right (click)="edition=!edition">
                <ion-icon name="create"></ion-icon>
              </button>
            </ion-list-header>
            <div *ngIf="!edition">
              <ion-item>
                <ion-icon color="primary" item-left name="person"></ion-icon>
                <b>Nombre</b>
                <span item-right>{{api.user?.full_name}}</span>
              </ion-item>
              <ion-item>
                <ion-icon color="primary" item-left name="mail"></ion-icon>
                <b>Email</b>
                <span item-right>{{api.user?.email}}</span>
              </ion-item>
              <ion-item>
                <ion-icon color="primary" item-left name="grid"></ion-icon>
                <b>Documento</b>
                <span item-right>{{api.user?.documento}}</span>
              </ion-item>
            </div>
            <div *ngIf="edition">
              <div text-center>
                <ion-icon name="camera" class="avatar"></ion-icon>
              </div>
              <ion-item>
                <ion-icon color="primary" item-left name="person"></ion-icon>
                <ion-label floating>Nombre</ion-label>
                <ion-input [(ngModel)]="api.user.nombre"></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon color="primary" item-left name="mail"></ion-icon>
                <ion-label floating>Email</ion-label>
                <ion-input [(ngModel)]="api.user.email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon color="primary" item-left name="grid"></ion-icon>
                <ion-label floating>Documento</ion-label>
                <ion-input [(ngModel)]="api.user.documento"></ion-input>
              </ion-item>
              <div text-right>
                <button ion-button clear (click)="saveUser()">
                  Guardar
                </button>
              </div>
            </div>
          </ion-list>

        </ion-card>
      </ion-col>

      <ion-col col-12 col-md *ngIf="version_data">
        <ion-card>
          <ion-list>
              <ion-list-header>
                App
              <button ion-button small clear icon-only item-right (click)="sync()">
                <ion-icon name="sync"></ion-icon>
              </button>
              </ion-list-header>
              <ion-item *ngIf="version_data.appVersion">
                <ion-icon color="primary" item-left name="appstore"></ion-icon>
                <b>Versión de App</b>
                <span item-right> {{version_data.appVersion}}</span>
              </ion-item>
              <ion-item *ngIf="version_data.label">
                <ion-icon color="primary" item-left name="cloud-download"></ion-icon>
                <b>Versión Live</b>
                <span item-right> {{version_data.label}}</span>
              </ion-item>
              <ion-item *ngIf="version_data.description">
                <ion-icon color="primary" item-left name="text"></ion-icon>
                <b>Descripción</b>
                {{version_data.description}}
              </ion-item>
            </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>


<ion-footer no-padding>
  <ion-toolbar>
    <button [disabled]="disabled_panic" (click)="sos()" *ngIf="bg.state" icon-left class="sos-button" ion-button color="danger"
      block round large>

      <ion-icon *ngIf="!disabled_panic" name="help-buoy"></ion-icon>
      <span *ngIf="!disabled_panic">
        S.O.S.
      </span>
      <ion-spinner *ngIf="disabled_panic" large color="primary" name="dots"></ion-spinner>
    </button>
  </ion-toolbar>
</ion-footer>
