<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Newton Tracker
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear color="danger" *ngIf="bg.state" (click)="stop()">
        <ion-icon name="square"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div padding *ngIf="!bg.state">
    <button class="track-button" ion-button color="secondary" full large (click)="start()">
      <span>Start</span>
    </button>
  </div>
</ion-content>
