// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.user-info {
    background-image: url('../assets/map-wallpaper.jpg');
    background-size: cover; // height: 100px;
    text-align: center;
    height: 120px;
    color: black;
    .avatar-user {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
}



// Map
.marker-cluster {
  border: 5px solid color($colors, 'light');
  div {
    margin-top: 0px !important;
    margin-left: 0px !important;
    span {
      font-size: 15px;
      font-weight: 500;
    }
  }
}

#mapid {
  height: 100%;
  width: 100vw;
}

.pos-icon{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  border: 2px solid #fff;
}

.label-map.active{
  opacity: 1;
}

.user-icon {
  opacity: 0;
  animation-name: fadein;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  &:hover {
    .label-map {
      opacity: 1;
    }
  }
}

.user-img-icon {
  margin: auto;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 2px color($colors, 'primary') solid;
}

.label-map {
  opacity: 0;
  transition: opacity .4s;
  white-space: nowrap;
  margin-left: -55%;
  width: fit-content;
  max-width: 500%;
  background: rgba(11, 33, 11, .7);
  color: white;
  font-weight: 900;
  div {
    padding: 5px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




// FAB STUFFS
.fab-label-button {
  .label {
    position: absolute;
    background: #222;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    right: 65px;
    white-space: nowrap;
    animation: backwards .7s fadeIn;
  }
}

.fab-label-button:nth-child(1) {
  .label {
    bottom: 15px !important;
    animation-delay: .0s;
  }
}

.fab-label-button:nth-child(2) {
  .label {
    bottom: 70px !important;
    animation-delay: .1s;
  }
}

.fab-label-button:nth-child(3) {
  .label {
    bottom: 125px !important;
    animation-delay: .2s;
  }
}

.fab-label-button:nth-child(4) {
  .label {
    bottom: 180px !important;
    animation-delay: .3s;
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeIn;
  animation-delay: .2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scale {
  opacity: 0;
  animation: scale;
  animation-delay: .2s;
  animation-duration: .2s;
  animation-fill-mode: forwards;
}

@keyframes scale {
  from {
    opacity: 0;
    transform: rotate(-180);
    transform: scale(.2);
  }
  to {
    opacity: 1;
    transform: rotate(0);
    transform: scale(1);
  }
}





// responsive 
.invisible {
  visibility: hidden !important;
}

.hidden-xs-up {
  display: none !important;
}


@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}